.form-group
{
    margin-bottom: 1em;
}

.login_container, .form-control
{
    border-radius: 5px;
}


.login_container
{
    max-width: 500px;
    margin-top: 0;
    padding: 1em;
    border-radius:5px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    background-color: #fff;
}

.form-control
{
    background-color: lightgreen;
}

