:root
{
    --primary: #2D7084;
    --secondary: #869398;
    --tertiary: #8E8FA6;
    --error: #FF5449;
    --neutral: #909191;
    --neutral_2: #C0C4C7;
    --light_text: #E6ECF0;
}

body
{
    background-color:var(--neutral);
    color: #E6ECF0;
}

.card
{
    background-color: var(--neutral_2);
}

.nav-link
{
    color:var(--primary);
}

.nav-link:hover
{
    color:var(--tertiary);
}

.local_weather_block
{
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    background-color:var(--neutral_2);
    border-radius: 5px;
    padding: 1em;
}

.local_weather_block h3
{
    color:var(--primary);
    font-size: 1.2em;
    font-weight: bold;
}


.menu_sidebar
{
    max-width: 500px;
    padding-left: 20px;
    /*Tento pekny tien mam z tadeto: https://getcssscan.com/css-box-shadow-examples*/
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    background-color:var(--neutral_2);
    border-radius: 5px;
    height: 220px;
}

.local_weather_data_pair
{
    display: flex;
    align-items: center;
    justify-content: left;
    padding-bottom:1em;
    color:var(--primary)
}

.local_weather_data_value
{
    margin-left:1em;
}

.date_icon_bg
{
    background-image: url("../../images/calendar-fill.svg");
}

.time_icon_bg
{
    background-image: url("../../images/clock-fill.svg");
}

.temp_icon_bg
{
    background-image: url("../../images/thermometer-half.svg");
}

.hum_icon_bg
{
    background-image: url("../../images/droplet-fill.svg");
}

.user_icon_bg
{
    background-image: url("../../images/person-fill.svg");
}

.wind_icon_bg
{
    background-image: url("../../images/wind.svg");
}

.wind_arr_icon_bg
{
    background-image: url("../../images/arrow-down-left.svg");
}

.precip_icon_bg
{
    background-image: url("../../images/cloud-drizzle-fill.svg");
}

.compass_icon_bg
{
    background-image: url("../../images/compass-fill.svg");
}

.value_icon
{
    width: 1em;
    height: 1em;
    color: var(--primary);
    background-repeat: no-repeat;
}

.profile-image
{
    width: 10em;
    height: 10em;
    border-radius:50%;
}

/*For testing only*/
div
{

}
