:root
{
    --primary: #3B28CC;
    --secondary: #2667FF;
    --tertiary: #3F8EFC;
    --error: #FF5449;
    --neutral: #87BFFF;
    --neutral_2: #ADD7F6;
    --light_text: #E6ECF0;
    --info:#93D962;
    --restricted:#FFFF82;
    --danger:#E65F5C;
}

body
{
    background-color:var(--neutral);
    color: var(--secondary);
}

.card
{
    background-color: var(--neutral_2);
}

.nav-link
{
    color:var(--primary);
}

.nav-link:hover
{
    color:var(--tertiary);
}

.menu-bar
{
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color:var(--neutral_2);
    box-shadow: var(--primary) 0px 1px 2px 0px;
}

.local_weather_data_pair
{
    display: flex;
    align-items: center;
    justify-content: left;
    padding-bottom:1em;
    color:var(--primary)
}

.local_weather_data_value
{
    margin-left:1em;
}

.date_icon_bg
{
    background-image: url("../../images/calendar-fill.svg");
}

.time_icon_bg
{
    background-image: url("../../images/clock-fill.svg");
}

.temp_icon_bg
{
    background-image: url("../../images/thermometer-half.svg");
}

.hum_icon_bg
{
    background-image: url("../../images/droplet-fill.svg");
}

.user_icon_bg
{
    background-image: url("../../images/person-fill.svg");
}

.wind_icon_bg
{
    background-image: url("../../images/wind.svg");
}

.wind_arr_icon_bg
{
    background-image: url("../../images/arrow-down-left.svg");
}

.precip_icon_bg
{
    background-image: url("../../images/cloud-drizzle-fill.svg");
}

.compass_icon_bg
{
    background-image: url("../../images/compass-fill.svg");
}

.value_icon
{
    width: 1em;
    height: 1em;
    color: var(--primary);
    background-repeat: no-repeat;
}

.profile-image
{
    width: 10em;
    height: 10em;
    border-radius:50%;
}


.i_button {
    text-decoration:none;
    display: inline-block;
    background-color: var(--tertiary);
    border-radius: 10%;
    padding: 0.2em;
    font-size: 20px;
    border: 1px solid transparent;
}

.i_button:hover {
    background-color: var(--secondary);
}

.i_info {
    color: var(--info);
}

.i_restricted {
    color: var(--restricted);
}

.i_danger {
    color: var(--danger);
}

.i_button:hover {
    color: var(--primary);
}

.card {
    background-color: var(--neutral_2);
    box-shadow: var(--primary) 0px 1px 2px 0px;
}

.error_header
{
    color: var(--error);
}

.error_message {
    font-style: italic;
    color: var(--error);
}
/*For testing only*/
div
{

}
