.profile-container {
    color: var(--primary);
    background-color: var(--neutral_2);
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 30px;
}

.profile-header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.profile-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 30px;
}

.profile-info {
    margin-top: 20px;
}

.profile-info p {
    margin-bottom: 10px;
}

/* Optional: Hover effects */
.profile-image:hover {
    transform: scale(1.05);
    transition: transform 0.2s ease-in-out;
}

.color-option {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-right: 5px;
}