.profile-container {
    padding:10px;
    color: var(--secondary);
    background-color: var(--neutral_2);
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.profile-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.profile-content {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.profile-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 30px;
}

.profile-info {
    margin-top: 20px;
}

.profile-info p {
    margin-bottom: 10px;
}

.color-option {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-right: 5px;
}

.prof_pic_sm {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

#profile_link {
    text-decoration: none;
}

#profile_link_content {
    padding: 4px;
    color: var(--primary);
    font-weight: bold;
    border-bottom: 1px solid var(--primary);
}

#profile_link_content:hover {
    background-color: var(--neutral);
}

.folder {
    border: 1px solid var(--primary); /* Light gray border */
    border-radius: 5px; /* Rounded corners */
    margin-bottom: 10px; /* Space between folders */
    overflow: hidden; /* Prevents content from overflowing rounded corners */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1); /* Subtle shadow */
}

.folder > a {
    text-decoration: none;
}

.folder:hover {
    border-color: #999;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.15);
    background-color: #f8f8f8;
}

.folder_header {
    background-color: var(--neutral_2);
    padding: 10px;
    font-weight: bold;
    border-bottom: 1px solid var(--tertiary);
    display: flex;
    align-items: center;
}

.folder_content {
    padding: 10px;
}
