.data_grid
{
}

.data_block
{
    border-radius: 5px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    margin-bottom: 4px;
    background-color:var(--neutral_2);
    padding: 0.5em;
}

.data_block_header
{
    display: flex;
    justify-content: space-between;
}


.user_values
{
    display: flex;
    justify-content: space-evenly;
}

.value_block, .user_data_block
{
    padding: 0.5em;
}

.value_block
{
    border-right:1px solid var(--neutral);
}

.value_block_value
{
    color: var(--neutral);
}

.date_data
{
    color: var(--primary);
}

.time_data
{
    color: var(--primary);
}


